DJANGO_SECRET_KEY=cambia-esta-clave-en-produccion
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=tu-dominio.cl,www.tu-dominio.cl,IP_DEL_SERVIDOR
DJANGO_CSRF_TRUSTED_ORIGINS=https://tu-dominio.cl,https://www.tu-dominio.cl
SQLITE_PATH=/app/data/db.sqlite3
DJANGO_MEDIA_ROOT=/app/media
DJANGO_STATIC_ROOT=/app/staticfiles
